body{ 
 	text-align:center;
}

.loaf {
	text-align: center;
	visibility: hidden;
}

@media screen and (min-width: 1081px){
	.kitty{ 
		content:url(kitten-large.png);
	}
}

@media screen and (max-width: 1080px){ 
	.kitty{ 
		content:url(kitten-medium.png);
	}
}

@media screen and (max-width: 820px){
	.kitty{
		content:url(kitten-small.png);
	}
}

@media screen and (max-width: 600px) {
	.kitty{
		content:url(kittyloaf.gif);
	}
}

@media screen and (max-width: 600px) {
	.loaf {
		visibility: visible;
	}
	.kitty { 
		text-align: center;
		content:url(kitten-small.png);
	}
}




     
