

@media screen and (max-width:500px) {
 img {
      content:url(kittyloaf.gif);
  }
  	

@media screen and (min-width: 800px) {
  img {
      content:url(kitten-small.png);
  }
  
  @media screen and (min-width:1020px) {
  img {
      content:url(kitten-medium.png);
  }
  
  @media screen and (max-width: 1380px) {
  img {
      content:url(kitty-large.png);
  }
